<div class="app-card ui-corner-all ui-shadow">
  <div class="app-card-container">
    <p>
        {{ firstname }} {{ lastname }}
    </p>
    <p>
        <small>{{ email }}</small>
    </p>
  </div>
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><a href="#story={{ id }}" data-app-id="{{ id }}" data-role="none" class="new_story app-button">Agregar Nueva</a></div>
    <div class="ui-block-b"><a href="#stories={{ id }}" data-app-id="{{ id }}" data-role="none" class="see_user app-button">Ver todas</a></div>
  </fieldset>
</div>