{% extends 'layout.html' %}

{% block app_cache %}
{% if isProd %}
manifest="/app.appcache"
{% else %}
data-mode="development"
{% endif %}
{% endblock %}

{% block body %}
<div data-role="page" class="ui-responsive-panel ui-page" id="app-page">

  <div id="sidebar"></div>

  <div id="menu" style="position: fixed; top: 20px; left: 20px; display: none;"><img src="/images/menu.svg" alt=""></div>

  <div data-role="content" id="app-container"> 

  </div><!-- /content -->

  <div id="modal"></div>

</div><!-- /page -->
{% endblock %}

{% block app_script %}

{% if isProd %}
<script data-main="/js/main" src="/js/require.js"></script>
{% else %}
<script data-main="/javascripts/main" src="/javascripts/libs/require/require.js"></script>
{% endif %}

{% endblock %}