{% if create %}
<span class="app-title">Agregar<br/>Nuevo Usuario</span>
{% else %}
<span class="app-title">Editar Usuario</span>
{% endif %}

<div class="app-card ui-corner-all ui-shadow">
  <div class="app-card-container">
    <input type="hidden" id="_id" value="{{ id }}" />
    <p>
        <small>Nombre *</small>
      <input type="text" name="text-basic" id="firstname" placeholder="Juan" value="{{ firstname }}" >
    </p>

    <p>
        <small>Apellido *</small>
      <input type="text" name="text-basic" id="lastname" placeholder="Pérez" value="{{ lastname }}" >
    </p>

    <p>
        <small>Email *</small>
        <input type="email" name="text-basic" id="email" placeholder="juan@perez.com" value="{{ email }}" >
    </p>

    <p>
        <small>Teléfono</small>
        <input type="tel" name="text-basic" id="phone" placeholder="(011) 99999999" value="{{ phone }}" >
    </p>

    <p>
        <small>WhatsApp</small>
        <label>
          <input type="checkbox" id="whatsapp" {% if whatsapp %}checked{% endif %}> Usar medio
        </label>
    </p>

    <p>
        <small>Dirección</small>
        <input type="text" id="address" placeholder="Av. Importante 555" value="{{ address }}" >
    </p>

    <p {% if isAdmin %}{% else %}style="display: none;"{% endif %}>
        <small>Tipo de usuario</small>
        <select id="type">
          <option value="user">Paciente</option>
          <option value="assistant">Asistente</option>
          <option value="admin">Administrador</option>
        </select>
    </p>
    <p class="roboto">
      <small>Los campos marcados con * (asterisco) son obligatorios</small>
    </p>
  </div>
  <fieldset class="ui-grid-solo">
    <div class="ui-block-a"><a href="javascript:;" id="save_user" data-role="none" class="app-button">Guardar</a></div>
  </fieldset>
</div>