<span class="app-title">Agenda<br/><span id="calendar_title">Hoy</span></span>

<div class="app-card ui-corner-all ui-shadow">
  <fieldset class="ui-grid-d">
      <div class="ui-block-a"><a href="javascript:;" id="calendar_prev" data-role="none" class="app-button"> < </a></div>
      <div class="ui-block-b"><a href="javascript:;" id="calendar_month" data-role="none" class="app-button">Mes</a></div>
      <div class="ui-block-c"><a href="javascript:;" id="calendar_week" data-role="none" class="app-button">Semana</a></div>
      <div class="ui-block-d"><a href="javascript:;" id="calendar_day" data-role="none" class="app-button">Día</a></div>
      <div class="ui-block-e"><a href="javascript:;" id="calendar_next" data-role="none" class="app-button"> > </a></div>
  </fieldset>
  <div class="app-card-container">
    <div id="calendar"></div>
    <!--<p>
      <span class="roboto">Encontrá tu </span><span class="roboto" style="color: orange;">Colectivo (Beta)</span>
    </p>
    <p class="roboto">
      <small>Dejá vacio el campo que desees que sea obtenido desde el GPS de tu dispositivo.</small>
    </p>
    <p>
      <input type="text" name="text-basic" id="busFrom" placeholder="Ingresá dónde lo tomarás" value="" list="autocomplete">
    </p>
    <p>
      <input type="text" name="text-basic" id="busTo" placeholder="Ingresá a dónde queres ir" value=""  list="autocomplete">
    </p>
  </div>
  <fieldset class="ui-grid-solo">
    <div class="ui-block-a"><a href="javascript:;" id="search-buses" data-role="none" class="app-button">Buscar</a></div>
  </fieldset>-->
  </div>
  <fieldset class="ui-grid-solo">
    <div class="ui-block-a"><a href="javascript:;" id="calendar_today" data-role="none" class="app-button">Hoy</a></div>
  </fieldset>
</div>