<span class="app-title">Nueva Historia Clínica<br/>{{ firstname }} {{ lastname }}</span>

<div class="app-card ui-corner-all ui-shadow">
  <div class="app-card-container">
    <input type="hidden" id="id" value="{{ id }}" />
    <p>
        <small>Texto</small>
        <textarea id="text" style="min-height: 400px;"></textarea>
    </p>
  </div>
  <fieldset class="ui-grid-solo">
    <div class="ui-block-a"><a href="javascript:;" id="save_story" data-role="none" class="app-button">Guardar</a></div>
  </fieldset>
</div>