<div data-role="panel" data-display="reveal" data-animate="false" data-dismissible="false" id="panel" data-position-fixed="true">
  <ul data-role="listview" data-theme="d">
    <li data-role="list-divider">Menú</li>
    <li><a href="#home">Inicio</a></li>
    <li data-role="list-divider">Turnos</li>
    <li><a href="#appointment">Nuevo turno</a></li>
    <li><a href="#appointments">Listado</a></li>
    <li data-role="list-divider">Usuarios</li>
    <li><a href="#users">Listado</a></li>
    <li><a href="#user">Agregar usuario</a></li>
    {% if isAdmin %}
    <li data-role="list-divider">Historias Clínicas</li>
    <li><a href="#stories">Todas</a></li>
    {% endif %}
    <li data-role="list-divider">Configuración</li>
    {% if isAdmin %}
    <li><a href="#config">Cambiar configuración</a></li>
    {% endif %}
    <li><a href="#logout">Desconectarse</a></li>
  </ul>

  <div id="copyright">
    <span>Medicians by Speryans</span>
  </div>
</div><!-- /panel -->