<div class="app-card ui-corner-all ui-shadow">
  <div class="app-card-container">
    <p>
        {{ firstname }} {{ lastname }}
    </p>
    <p>
        <small>{{ email }}</small>
    </p>
  </div>
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><a href="#user={{ id }}" data-role="none" class="edit_user app-button">Editar</a></div>
    <div class="ui-block-b"><a href="javascript:;" data-app-id="{{ id }}" data-role="none" class="delete_user app-button">Eliminar</a></div>
  </fieldset>
</div>