<span class="app-title">Historia Clínica</br>{{ firstname }} {{ lastname }}</span>

<div class="app-card ui-corner-all ui-shadow">
  <div class="app-card-container">
    <p>
        <small>Búsqueda</small>
        <input type="text" name="text-basic" id="search" placeholder="Ingrese lo que desea buscar" class="searchList" >
    </p>
  </div>

  <fieldset class="ui-grid-solo">
    <div class="ui-block-a"><a href="#story={{ id }}" data-role="none" class="new_story app-button">Agregar Nueva Historia</a></div>
  </fieldset>
</div>

<div id="data_list" class="print"></div>